
/* Custom Properties */

:root {
  --first-color: #D90062;
  --first-alpha-color: rgba(217, 0, 98, 0.75);
  --second-color: #14192D;
  --second-alpha-color: rgba(20, 25, 45, 0.75);
  --third-color: #501464;
  --third-alpha-color: rgba(80, 20, 100, 0.75);

  --white-color: #FFFFFF;
  --gray-light-color: #F3F3F3;
  --gray-color: #CCCCCC;
  --gray-dark-color: #666666;
  --black-color: #000000;
  --link-color: #509EE3;
  --title-color: #333333;
  --text-color: #222222;
  
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --font: 'Raleway', sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;

  --cerulean-blue-100: #E2E6F7;
  --cerulean-blue-300: #A8B6E8;
  --cerulean-blue-400: #7E91DC;
  --cerulean-blue-600: #4A52C4;
  --cerulean-blue-700: #4143B4;
  --cerulean-blue-800: #3B3A93;
  --cerulean-blue-950: #242348;

  --emerald-300: #6EE7B7;
  --emerald-500: #10B981;
  --emerald-700: #047857;

  --slate-100: #F1F5F9;
  --slate-200: #E2E8F0;
  --slate-400: #94A3B8;
  --slate-500: #64748B;
  --slate-700: #334155;
  --slate-800: #1E293B;
  --slate-900: #0F172A;
}

/* Reseteo */

html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin: 0;
  font-size: 2.9188rem;
}

h2 {
  margin: 0;
  font-size: 1.7994rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1.2rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  line-height: 1.6;
}

a{
  text-decoration: none;
  color: var(--link-color);
}

/* Utilidades */

.box-shadow-1 {
  box-shadow: .25rem .25rem 1rem rgba(0, 0, 0, 0.25);
}

.btn {
  border-radius: .5rem;
  padding: 1rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--first-color);
  text-transform: uppercase;
  border: 0;
}

.full-screen{
  width: 100%;
  min-height: calc(100vh - var(--header-height));
}

.section {
  padding: 2rem 1rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.none {
  display: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}


@media screen and (min-width: 1024px) {
  .full-lg-screen {
    width: 100%;
    min-height: 100vh;
  }

  .text-lg-center {
    text-align: center;
  }

  .text-lg-left {
    text-align: left;
  }

  .text-lg-right {
    text-align: right;
  }

}


/* Site Styles */